body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.container {
    text-align: center;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #f78fb3;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

h1 {
    font-size: 36px;
    color: #ff6b6b;
}

.aguacate-animation {
    width: 200px;
    margin-top: 20px;
}

#resetButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #6a89cc;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 16px;
    border-radius: 50px;
}

#resetButton:hover {
    background-color: #4a69bd;
}
